{% extends "baseUsers.html"%}

{% load crispy_forms_tags %}

{% block content %}

    <h1>Modifier la tâche</h1>
    <form action="/taskuser/add" method="POST" class="form-modif">
        {% csrf_token %}
        <div class="row">
            <div >
                {{ form.name | as_crispy_field }}
            </div>
            <div >
                {{ form.description | as_crispy_field }}
            </div>
            <div >
                {{ form.date_creation | as_crispy_field }}
            </div>
            <div >
                {{ form.date_rendu | as_crispy_field }}
            </div>
            <div>
                {{ form.user | as_crispy_field }}
            </div>
        </div>
        <button type="submit" class="btn btn-light">
            Ajouter la tâche
        </button>
    </form>
    <input type="button" class="btn btn-info" value="Retour" onclick="window.location='http://localhost:8000/taskuser'">
{% endblock %}